<div>
    <h1 class="Titles">Work Summary</h1>
    <br>
    <form #userForm="ngForm" >
       
        <div class="auto">
            <p>Job Type</p>
            <div class="form-row">
            <div class="input-group col-md-6 mb-3">
                <input  ngModel name="jobType" type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Job Type">
                
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
      
          <br>
          <div class="form-row">
        
            <div class="col-md-4 mb-6">
                <p>Work Difficulty</p>
                <input style="width: 20em; margin-top: 2vh;" min="0" max= "10" ngModel name="difficulty" type="range" class="custom-range" id="customRange1">
              
            </div>
            <div class="col-md-4 mb-6">
              <p>Condition</p>
                <input style="width: 20em; margin-top: 2vh; " ngModel name="condition" min="0" max= "10"  type="range" class="custom-range" id="customRange1">
              
            </div>
            <div class="col-md-4 mb-6">
              <p>Hours Anticipated</p>
                <input style="width: 20em; margin-top: 2vh; " ngModel name="condition" min="0" max= "10"  type="range" class="custom-range" id="customRange1">
              
            </div>
          </div>
        
          <br>
          <br>
          <div class="form-floating">
            <textarea ngModel name="workDescription" class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 150px"></textarea>
          </div>
        
          <br>
          <br>
          <h2>Tasks</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col">Priority</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let task of tasks">
                <th scope="row">{{task.id}}</th>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.priority}}</td>
              </tr>
            </tbody>
          </table>
          <br>
          <br>
          <h3>Add a new Task</h3>
          <br>
          <div class="form-row">
            
            <div style="margin-bottom: 1vh !important;"class="col-md-4 mb-6">
                <input ngModel name="title" style="width: 20em; " placeholder ="Task Name"class="form-control"  type="text" >
              
            </div>
            <br>
            <div class="col-md-8 mb-6">
              <div class="form-floating">
            <textarea ngModel name="description" class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 150px"></textarea>
          </div>
          <br>
          <div class="col-md-6 mb-6">
            <p>Priority</p>
            <input ngModel name="priority" style="width: 15em; margin-top: 2vh;" min="0" max= "10" ngModel type="range" class="custom-range" id="customRange1">
            <button style="margin-left: 1vh;" class="btn btn-success" (click) = "addTask(userForm.value)">Add Task</button>
          
        </div>
        
            
          </div>
          </div>
          <br>
          <br>
        
          <button  class="btn btn-primary" (click) = "transfer(userForm.value)" type="submit">Conitnue</button>
          <button style="margin-left: 1vh;"  class="btn btn-danger" type="submit">Clear</button>
      </form>
    
</div>


