<form class="needs-validation" #userForm="ngForm" novalidate>
    
    <h1 class="Titles">Customer Info</h1>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom01">First name</label>
        <input  ngModel name="firstName" class="form-control" id="validationCustom01"  required>
        
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom02">Last name</label>
        <input ngModel type="text" class="form-control" id="validationCustom02" name="lastName" required>
        
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">City</label>
        <input ngModel name="city" type="text" class="form-control" id="validationCustom03" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">State</label>
        <input ngModel name="state" type="text" class="form-control" id="validationCustom04"  required>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Zip</label>
        <input ngModel name="zip" type="text" class="form-control" id="validationCustom05"  required>
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
    </div>
    <div class="form-row">
        
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">Phone Number</label>
          <input ngModel name="phone" type="text" class="form-control" id="validationCustom01"   required>
          
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom02">Email</label>
          <input ngModel name="email" type="text" class="form-control" id="validationCustom02"  value="" required>
          
        </div>
      </div>
      <br>
      <div class="form-floating">
        <textarea ngModel name="description" class="form-control" placeholder="Customer Notes" id="floatingTextarea2" style="height: 100px"></textarea>
      </div>
      <br>
    <div style="margin-left: 3vh;" class="form-group ">
      <div class="form-check">
        <input ngModel name="save" class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
         Save Customer to Database?
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <br>
    <button  class="btn btn-primary" (click) = "transfer(userForm.value)" type="submit">Conitnue</button>
    <button style="margin-left: 1vh;" (click) = "userForm.resetForm()"  class="btn btn-danger" type="submit">Clear</button>
    <br>
    <br>
    
  </form>