<div>
    <br>
    
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
  </div>
 
    <h1 class="Titles">Materials</h1>
    <br>
    <form #userForm = "ngForm" >   
        
          <div class="form-row">
        
            <div class="col-md-12 mb-3">
              <div class="form-floating">
                <textarea ngModel name="description" class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 150px; border-radius: 20px;"></textarea>
              </div>
            </div>
          </div>
               
        
          <br>
          <br>
        
          
          <ul class="list-group">
            <li class="list-group-item active"><h5 style="color: white;">Materials</h5></li>
          </ul>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Material</th>
                <th scope="col">Description</th>
                <th scope="col">Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let material of materials">
                <td>{{material.material}}</td>
                <td>{{material.matDescription}}</td>
                <td>{{material.price}}</td>
                <td><button (click) = "deleteTask(material)" class="btn btn-danger">X</button></td>
              </tr>
            </tbody>
          </table>
          <br>
          <br>
          <h3>Add Material</h3>
          <br>
          
          <div class="form-row">
            
            <br>
            <div style="margin-bottom: 1vh !important;"class="col-md-4 mb-6">
                <input style="border-radius: 10px;" ngModel name="material"placeholder ="Material Name"class="form-control"  type="text" required>
                <div style="width: 100%; margin-top: 2vh;" *ngIf="userForm.controls['material'].invalid && (userForm.controls['material'].dirty || userForm.controls['material'].touched)" class="alert alert-danger">
                  <div *ngIf="userForm.controls['material'].errors.required">
                  Material name cannot be blank
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-6">
              <input ngModel style="border-radius: 10px;" name="price"  placeholder="Price"  type="text" class="form-control" required>
              <div style="width: 100%; margin-top: 2vh;" *ngIf="userForm.controls['price'].invalid && (userForm.controls['price'].dirty || userForm.controls['price'].touched)" class="alert alert-danger">
                <div *ngIf="userForm.controls['price'].errors.required">
                Price name cannot be blank
              </div>
            </div>
            
          </div>
            <br>
            <br>
            <div class="col-md-8 mb-6">
              <div class="form-floating " style="border-radius: 20px;">
            <textarea ngModel name="matDescription" class="form-control" placeholder="Material Description" id="floatingTextarea2" style="height: 150px; border-radius: 20px; "></textarea>
            <button [disabled]="userForm.controls['material'].errors" style="margin-top: 3vh !important;" class="btn btn-primary" (click) = "addMaterial(userForm.value)">Add Material</button>
          </div>
        </div>
        
          <br>
          
        
        
            
        
          </div>
          <br>
          <br>
         
        <button  (click)= "transfer(userForm.value)" class="btn btn-success">Finish</button>
        <button style="margin-left: 1vh;" class="btn btn-danger">Clear</button>
      </form>
    <br>
    <br>
</div>



